# https://www.toptal.com/developers/gitignore can generate .gitignore for many filetypes
Tmp/
out/
auxil/
.idea/
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*.pdf
*.nlo
*.thm
*.run.xml
*.bcf
